ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

li{
    display: inline;
}

li a{
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: rgb(152, 172, 179);
    font-size: 20px;
}

li:hover{
    text-transform: uppercase;
}

li:visited{
    text-decoration: none;
    color: rgb(152, 172, 179);
}

.current{
    text-transform: uppercase;
    color: rgb(152, 172, 179);
}

.mainHeader{
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-weight: semi-bold;
    font-size: 100px;
    color: rgb(19, 100, 69);
    margin: 0 0 10px 0;
    padding: 0;
}

.pageHeader {
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-weight: semi-bold;
    color: rgb(19, 100, 69);
    font-size: 60px;
    padding: 0;
    margin: 0;
}

.indexBody {
    background-image: url("/images/roots.jpg");
}

.second-header {
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.description {
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 25px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.paragraph-end{
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 25px;
    text-align: center;
}

img{
    display: flex;
    width: default;
    position: relative;
    margin: auto;
}