ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

li{
    display: inline;
    text-decoration: none;
    text-align: center;
    color: rgb(185, 205, 212);
    font-size: 20px;
    font-weight: semi-bold;
}

li:hover{
    text-transform: uppercase;
}

li:visited{
    text-decoration: none;
    color: rgb(185, 205, 212);
}

.current{
    text-transform: uppercase;
    color: rgb(185, 205, 212);
}

.mainHeader{
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: rgb(19, 100, 69);
}

.pageTitle {
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-weight: semi-bold;
    color:rgb(19, 100, 69);
    letter-spacing: 1px;
    font-size: 60px;
    margin-top: 80px;
    text-align: center;

}

.indexBody {
    background-image: url("/images/roots.jpg");
}

.second-header {
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.description {
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width:1000px) {
    .description {
        font-size: 1rem;
    }
}

.paragraph-end{
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 25px;
    text-align: center;
}

#collageImg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

#scheduleImg{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
}

.scheduleBody {
    background-color: #043C4E;
}

.scheduleText {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 15px;
}

footer {
    padding: 2rem;
}

.scheduleFooter{
    color: #FFFFFF;
}