#skip a { 
    position:absolute; 
    left:-10000px; 
    top:auto; 
    width:1px; 
    height:1px; 
    overflow:hidden;
    color: rgb(19, 100, 69);
} 

#skip a:focus { 
    position:static; 
    width:auto; 
    height:auto; 
}

@media (min-width: 1200px) {
    #mainNav .nav-link {
        color: rgb(255, 255, 255);
    }

    #mainNav .navbar-brand {
        color: rgb(255,255,255);
    }
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(19, 100, 69);
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: .75rem;
    color: rgb(19, 100, 69);
    border: 1px solid rgb(19, 100, 69);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

li{
    display: inline;
}

li a{
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: semi-bold;
}

li:hover{
    text-transform: uppercase;
}

li:visited{
    text-decoration: none;
    color: rgb(185, 205, 212);
}

.current{
    text-transform: uppercase;
    color: rgb(185, 205, 212);
}

.mainHeader{
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: rgb(19, 100, 69);
}

.pageTitle {
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-weight: semi-bold;
    color:rgb(19, 100, 69);
    letter-spacing: 1px;
    font-size: 60px;
    margin-top: 80px;
    text-align: center;
}

.titleSchedule {
    color: #FFFFFF;
}

@media screen and (max-width: 700px) {
    .pageTitle {
        font-size: 40px;
        padding: 15px;
    }
}

.indexBody {
    background-image: url("/images/roots.jpg");
}

.second-header {
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.description {
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width:1000px) {
    .description {
        font-size: 1rem;
    }
}

.paragraph-end{
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 25px;
    text-align: center;
}

#collageImg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

#scheduleImg{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
}

.scheduleBody {
    background-color: #043C4E;
}

.scheduleText {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    color: #FFFFFF;
    font-family: "Courier New", Arial;
    font-size: 15px;
}

.contact-text {
    color: rgb(0,0,0);
}

.openfloorLink {
    color: #FFFFFF;
    text-decoration-line: underline;
}

footer {
    padding: 2rem;
}

.scheduleFooter{
    color: #FFFFFF;
}

.contact-footer {
    bottom: 5px;
}