body {
    background-color: rgb(255, 230, 255);
}

@media screen and (min-width: 1200px) {
    #mainNav .nav-link {
        color: rgb(19, 100, 69);
    }
    
    #mainNav .navbar-brand {
        color:rgb(19, 100, 69);
        padding: 0;
    }
}

h3 {
    color: #ffffff;
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 5rem;
}

.gallery {
    width: 95%;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

img {
    width: 100%;
}

.item {
    border: 2px solid black;
}

.desc {
    position: relative;
    text-align: center;
}

.title {
    color: rgb(19, 100, 69);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.fancybox-caption {
    font-size: 15pt;
}

.descriptionsFooter {
    color: rgb(19, 100, 69);
}

@media screen and (min-width:900px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 20px;
    }
}

@media screen and (max-width: 900px) and (min-width:600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 20px;
    }

}

@media screen and (max-width: 600px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 20px;
    }

    .grid-container img{
        width: 100%;
    }
    
    p {
        font-size: 1rem;
        padding: 10px;
        color: rgb(19, 100, 69);
    }

    .title {
        position: absolute;
        top: 20%;
    }

    .accordion {
        color: rgb(19, 100, 69);
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    .panel {
        padding: 18px;
        background-color: #ffffff;
        display: none;
        overflow: hidden;
    }
}