ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

li{
    display: inline;
}

li a{
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: rgb(152, 172, 179);
    font-size: 20px;
}

li:hover{
    text-transform: uppercase;
}

li:visited{
    text-decoration: none;
    color: rgb(152, 172, 179);
}

.current{
    text-transform: uppercase;
    color: rgb(152, 172, 179);
}
.mainHeader{
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-weight: semi-bold;
    font-size: 100px;
    color: rgb(19, 100, 69);
    margin: 10px 0 0 0;
    padding: 0;
}

h1{
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-weight: semi-bold;
    color: rgb(19, 100, 69);
    font-size: 60px;
    padding: 0 0 20px 0;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-column-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
}

.image1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    width: 100%;
}

.image2{
    grid-column-start: 3;
    grid-column-end:4;
    grid-row: 1;
    width: 100%;
}

.image3{
    grid-column-start: 4;
    grid-column-end:5;
    grid-row: 1;
    width: 100%;
}

.image4{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row: 2;
    width: 100%;
}

.image5{
    grid-column-start: 3;
    grid-column-end:4;
    grid-row: 2;
    width: 100%;
}

.d1title{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    text-align: center;
}

.d1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    text-align: center;
}